*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --text-light:#F5F5F0;
    --text-dark: #0d0d0d;
    --dark:#0d0d0d;
    --lime:#C8FF00;
}
nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 1.2rem 2.5rem;
    mix-blend-mode: difference;
}
body{
    font-family: 'Space Grotesk', sans-serif;
    background: var(--dark);
    color: var(--text-light);
    overflow: hidden;
    cursor: none;
}
#cursor{
    width: 12px;
    height: 12px;
    background-color: var(--lime);
    border: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 999;
}